.ListCountries{
  width: 30%;
  text-align: center;
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  outline: 0;
}

.Select{
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    outline: 0;
}

.Select:focus{
  outline: 0;
}


@media only screen and (max-width: 800px){
  .ListCountries{
      width: 70%;
  }
}
